/.ipynb_checkpoints
/Assignment 1- Optional Assignment.ipynb
/Assignment 18-SQL Assignment.ipynb
/Assignment 2-Optional pandas_basics_practice.ipynb
/Assignment 3-Python Assignment.ipynb
/Assignment 4-Exploratory Data Analysis..ipynb
/Assignment 4-Exploratory Data Analysis.ipynb
/Db-IMDB-Assignment.db
/Db-IMDB-Assignment1.db
/Exploratory Data Analysis. (2).ipynb
/mandatory assignment 3
/Untitled.ipynb